<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <h1>Welcome to the URL Shortener</h1>
    <!--  rendeer login and register.ejs -->
    <h2>Login or Register:</h2>
    <a href="/login"><button>Login</button></a>
    <a href="/register"><button>Register</button></a>
</body>

</html>