<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <h1>Login Page</h1>
    <h2>Login with:</h2>
    <a href="/auth/google"><button>Google</button></a>
    <a href="/auth/github"><button>GitHub</button></a>
    
    <h2>Or use your credentials:</h2>
    <form action="/auth/login" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

</body>

</html>